[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/cs224/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = https://github.com/cs224/cs224.github.io.git
	branch = master
